* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

body {
  background-color: #b24bf3;
  font-size: large;
}

.pfp {
 clip-path: circle(25%);
 vertical-align: middle;
}

.hazard {
  font-size: x-large;
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  background-color: #d7a1f9;
  width:auto;
}

h2,
p {
  text-align: center;
  font-display: "Times New Roman", Times, serif;
  color: white;
  padding: 10px;
}

table{
  color: white;
}
.portfolioContent{
  display: flex;
}
table{
  margin-left: auto;
}
.audioContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  display: block;
  text-align: center;
  color: white;
}

.skillsContent {
  float: center;
  color: white;
  text-align: center;
}
i{
  font-size: x-large;
}

ul {
  list-style-type: none;
}


.container {
  display:contents;
  align-items: center;
  justify-content: center;
}
.aboutMeContent {
  float: center;
  color: white;
  text-align: center;
}

.aboutMeContent p {
  padding-left: 20%;
  padding-right: 20%;
}
footer {
  background-color: #d7a1f9;
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* the following is for styling links */
a:hover {
  color: green;
}
a:visited {
  color: rgb(74, 74, 255);
}
a:link {
  color: pink;
}
a:active {
  color: red;
}

/* the following will be for mobile devices*/

@media all and (min-width: 200px) {
    .hazard {
        text-align: center;     
    }
    nav {
        display: inline-block;
    }
    h1 {
        text-align: center;
    }
    .aboutMeContent{
        display: contents;
        text-align: center;
    }
    .container{
        width: fit-content;
    }
    .pfp{
        align-items: baseline;
    }
}

@media screen and (max-width: 280px) {
  .image {
    display: none;
  }
  .pfp {
    display: none;
  }
}