* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  background-color: #b24bf3;
}

.pfp {
 clip-path: circle(30%);
float: left;
}

.hazard {
  font-size: x-large;
  color: white;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding: 10px;
  background-color: #d7a1f9;
  padding-bottom: 60px;
  padding-right: 300px;
}

h2,
p {
  text-align: center;
  font-display: "Times New Roman", Times, serif;
  color: white;
  padding: 10px;
}

nav,
nav:visited {
  color: white;
}

.section-content {
  display: block;
  text-align: center;
  color: white;
}
.skillsContent {
  float: center;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
}

.image {
  float: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutMeContent {
  float: center;
  color: white;
  text-align: center;
}

footer {
  background-color: #d7a1f9;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* the following is for styling links */
a:hover {
  color: green;
}
a:visited {
  color: rgb(74, 74, 255);
}
a:link {
  color: pink;
}
a:active {
  color: red;
}
